parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        - '#Property App\\Entity\\User::\$id \(int\|null\) is never assigned int so it can be removed from the property type\.#'
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
